header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    padding: 0.5vh 50px;
    

    img {
        width: 50px;
        height: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    div {
        font-size: 1rem;
        font-weight: 300;

        strong {
            font-weight: 500;
            margin-right: 0.2em;
        }

    }

    

    #tel {
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.25rem;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}
 
h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}