

#hero div {
    background-color: #ffffffb6;
}


#about {
    flex-direction:  column;

    img {
        margin-top: 3vh;
        height: 30vh;
        width: 100%;
        aspect-ratio: none;
        object-fit: cover;
    }
    #about-text {
        padding-bottom: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
        scale: 1.2;

        

    }
    
}
