section {
    margin: 5vh;
    margin-bottom: 0;
    padding: 3vh 5vh;
    border-radius: 3vh;
    outline: 1px solid #333;
    zoom: 0.8;
}

.bottomDiv{
    margin-bottom: 4vh;
}

.titleDiv{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

