section {
    padding: 10vh;
    border-bottom: 1px solid rgb(122, 122, 122);
}

#hero {
    display: flex;
    justify-content: end;
    position: relative;
    padding: 0;
    overflow: hidden;
    
    
    img {
        width: 100%;
        aspect-ratio: auto;
        object-fit: cover;
        object-position: top;
        max-height: calc(100vh);
    }

    div {
        position: absolute;
        left: 20%;
        top: calc(100px + 1vw);
        background-color: #ffffffb9;
        border-end-end-radius: 5vh;
        border-start-start-radius: 5vh;
        transform: translate(-20%, 0);
        opacity: 1;
        padding: 3vh;
        transition: opacity 2s, background-color 1s ease-in;
    }
}

#about {
    display: flex;
    justify-content: center;

    #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3vw; 
        width: 100%;
        max-width: 1470px;
        div {
            margin-top: 15vh;
            margin-bottom: 15vh;
            img {
                width: unset;
                height: 60px;
                object-fit: unset;
                min-width: unset;
            }
        }
    }

    p {
        text-align: justify;
    }
    
    img {
        width: 30%;
        height: 100%;
        object-fit: cover;
        min-width: 35%;
    } 
}

#services {
    display: flex;
    flex-direction: column;
    background-color: #001143;
    text-align: center;
    align-items: center;


    * {color: #FFFFFF;}

    p {
        margin-bottom: 4vh;
    }
    

    .services {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1024px;
        gap: 1vw;

        a {
            text-decoration: none;
            padding: 5vh;
            border: 0.1px #7e7e7e solid;
            overflow: hidden;
            transition: background-color 0.3s, box-shadow 0.4s;
            border-radius: 3vh;
            width: 40%;

            p {
                margin-bottom: 0;
            }

            img {
                height: 20vh;
                width: 40%;
                transition: scale 0.2s;
            }
        }
    }

    .services a:hover {
        border: 0.5px #FFF solid;
        box-shadow: 0px 0px 20px 0px #050e1b;
        img {
            scale: 1.1;
        }
    }
}

#why-to-buy-now {
    display: flex;
    padding: 20vh 15vw;
    gap: 10vw;
    h2 {
        flex: 1;
        font-weight: 450;
        font-size: 3rem;
    }
    p {
        flex: 2;
    }
}


footer {
    background-color: #0A182E;
    padding: 10vw;
    padding-bottom: 15vh;
    box-sizing: border-box;
    

    h2, p, a {color: #FFFFFF;}

    a {
        text-decoration: underline;
    }

    h2 {
        margin-bottom: 20px;
    }


    #copyright {
        margin-top:15px;
    }
}


/* Mobile override */
@media (max-width: 768px) {
    section {
        padding: 5vh;
    }

    #hero div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.7s, opacity 2s, background-color 1s ease-in;
    }

    #about {
        #wrapper {
            flex-direction: column;
            gap: 2vh;
            div {
                margin: 2vh;
            }
        }
    
        img {
            width: 100%;
        }
    }

   
    #services .services{
        flex-direction: column;
        a {
            box-sizing: border-box;
            width: 100%;  
        }
    }

    #why-to-buy-now {
        flex-direction: column;
        padding: 10vh;
    }
}

/* even smaller mobile override */
@media (max-width: 520px) {
    
    #hero div {
        top: 60%;
        padding: 2vh;
        border-end-end-radius: 2vh;
        border-start-start-radius: 2vh;
    }

    #hero h1{
        font-size: 1rem;
        line-height: 1.2;
    }

    #hero p{
        font-size: 0.8rem;
        padding: 0;
    }

    
}



/* Superwide override */
@media (min-width: 1440px) {
    #hero div {
        background-color: #ffffff00;
    }
}